*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --side: 100vh;
    --darkPink: rgb(243, 29, 100);
    --pink: palevioletred
}

#tictac{ 
    display: flex;
    justify-content: center;
}

.squares{
    width: var(--side);
    height: var(--side);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: rgb(243, 29, 100);
}

.userInterface{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.square{
    width: 100%;
    /* height: 33vh; */
}

body{
    display: grid;
    grid-template-columns: 1fr auto;
}

button{
    background-color: white;
    border: none;
    font-weight: 700;
    font-size: 7rem;
    color: var(--pink);
}

h1{
    color: var(--darkPink);
    font-size: 3rem;
}

p{
    color: var(--pink);
    font-size: 4rem;
    font-weight: 700;
}